<div class='matrix-background'>
    <div class='row'>
        <div class='col s4 m4 push-m1 l4 push-l1'>
            <div class='card slogan z-depth-0 text-flow'>
                <h2><span class='welcome'>Welcome to your</span><br>
                    <span class='matrix'> Matrix escape...</span></h2>
            </div>
        </div>
        <div class="col s8 m7 push-l1 l7 push-l1">
            <img class='matrix-img' src="/img/matrix-phone.png"
                alt="phone over the matrix black and green coding background" />
        </div>
    </div>
</div>