<div class='matrix-img'>
    <div class='row'>
        <div class='col s4 m6 l5 center'>
            <div class=' card slogan z-depth-0 text-flow'>
                <h2>Welcome to your Matrix escape...</h2>
            </div>
        </div>
        <div class="col s8 m6 l7">
            <img class='responsive-img' src="/img/matrix-phone.png"
                alt="phone over the matrix black and green coding background" />

        </div>
    </div>
</div>