<div class='matrix-background'>
    <div class="container">
        <div class='row'>
            <div class='col s12 m12 l6'>
                <div class='card slogan z-depth-0'>
                    <h2><span class='welcome white-text'>Welcome to your</span><br>
                        <span class='matrix'> Matrix escape...</span></h2>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <img class='matrix-img' src="/img/matrix-phone.png"
                    alt="phone over the matrix black and green coding background" />
            </div>
        </div>
    </div>
</div>