<div class="container">
  <div class='row'>
    <div class="col m5 push-m3 l5 push-l3">
      <div class='card sign-up-form-card'>
        <div class='card-title center'>
          <br>
          <span>Sign up</span>
        </div>
        <div class="card-content">
          <form class='signup-form'>
            <div>
              <label class="form-text" for='first_name-signup'>First Name:</label>
              <input type='text' class='form-input' id='first_name-signup' />
            </div>
            <div>
              <label class="form-text" for='last_name-signup'>Last Name:</label>
              <input type='text' class='form-input' id='last_name-signup' />
            </div>
            <div>
              <label class="form-text" for='email-signup'>Email:</label>
              <input type='email' class='form-input' id='email-signup' />
            </div>
            <div>
              <label class='form-text' for='password-signup'>Password:</label>
              <input type='password' class='form-input' id='password-signup' />
            </div>

            <div>
              <label class='form-text' for='profile_img-signup'>Profile Image:</label>
              <button id="upload_widget" class="cloudinary-button img-upload-join">Upload image</button>
            </div>
            <div class='card-bottom center'>
              <div class='buttons'>
                <button class="btn dark-blue" type="submit" name="join">Join<i class="material-icons right">send</i>
                </button>
              </div>
              <br>
              <p class="joined">Already joined? <a href='/login'>Login</a>
              </p>
              <br>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src='/javascript/signup.js'></script>