:root {
  --light-green: #f2f7f2;
  --dark-green: #2c4741;
  --med-green: #295f3a;
  --dark: #19191f;
  --nav: rgb(2, 32, 64);
  --body: rgb(240, 252, 246);
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat:wght@400", sans-serif;
  background-color: var(--body);
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: darkslategrey;
}

.container {
  width: 90%;
}

.form-input {
  border: solid 0.1rem var(--nav) !important;
  border-radius: 0.5rem !important;
  height: 2.2rem !important;
}

.card.card-round {
  border-radius: 2rem !important;
}

.matrix {
  margin-top: 2rem;
}

nav {
  background-color: var(--nav) !important;
}

.btn {
  margin-top: 1.2rem;
  border-radius: 0.3rem;
}
.btn.modal-trigger {
  margin: 0.5rem;
  box-shadow: none;
}
.col > :first-child {
  margin-top: 3vh;
}
.card {
  border-radius: 0.5rem !important;
}
.card .card-action:last-child {
  border-radius: 0.5rem !important;
  border: none;
}
.card .card-action a {
  color: var(--nav) !important;
  font-weight: 550;
  text-transform: capitalize !important;
  padding-left: 3rem;
}

.card-title span {
  font-weight: 550;
  line-height: 1.8;
  color: rgb(47, 47, 47);
  padding: 0.5rem;
  font-size: 1.1rem;
}
.card-content.slogan p {
  color: var(--dark);
  font-size: 2.9rem;
  margin: 1.5rem 1rem;
  padding-left: 1rem;
}
.card-bottom p {
  font-weight: lighter;
  font-size: 1rem;
  color: #9e9e9e;
}
.card-bottom p a {
  font-weight: 600;
  color: var(--dark);
}

.card-image.profile {
  max-width: 200px;
  max-height: 200px !important;
}

.center-img {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.round-img {
  border-radius: 50%;
}

.card.small {
  height: 220px;
  padding: 3%;
  display: flex;
}

nav ul a,
nav .brand-logo {
  color: var(--body);
  margin-left: 0.5rem;
}

nav ul a {
  line-height: 4;
}
.sidenav.sidenav-fixed {
  background-color: var(--body);
  box-shadow: none;
  margin-top: 20vh;
}
.matrix-img {
  background-image: url("/img/matrix-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.modal {
  min-width: 35%;
}
.modal .modal-content {
  min-height: max-content;
}
a .m-icon,
.desktop {
  padding: 0.1rem 3rem;
  font-weight: 450;
}

#search {
  width: 65%;
  border: none;
  padding: 5% 15%;
  max-height: 24px;
}
.search-card {
  border-radius: 1rem !important;
}

.input-field input[type="search"]:focus:not(.browser-default) {
  background-color: transparent !important;
}

.slogan {
  background-color: transparent;
  margin-top: 16vw;
}

.med-green {
  background-color: var(--med-green) !important;
}
.dark-green {
  background-color: var(--dark-green) !important;
}

.dark-blue {
  background-color: var(--nav) !important;
}

textarea {
  border-radius: 0.5rem !important;
  border: solid 0.1rem var(--nav) !important;
}
