:root {
  --light-green: #8ead90;
  --dark-green: #2c4741;
  --med-green: #295f3a;
  --dark: #19191f;
}

.matrix {
  margin-top: 2rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("/img/matrix-background.png");
  background-size: cover;
}

nav {
  background-color: var(--dark) !important;
}

.card-content p {
  color: var(--dark);
  font-size: 2.9rem;
  margin: 1.5rem 1rem;
  padding-left: 1rem;
}

nav ul a,
nav .brand-logo {
  color: var(--light-green);
  margin: 0.5rem;
}
nav ul a {
  line-height: 4;
}

.slogan {
  background-color: transparent;
  margin-top: 16vw;
}
